body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 20px;
}

main {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

form label {
  display: block;
  margin-bottom: 10px;
}

form input[type="file"] {
  margin-bottom: 10px;
}

form button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}

#download-link-container {
  margin-top: 20px;
  padding: 20px;
  background-color: #f2f2f2;
}

#download-link-container p {
  margin-bottom: 10px;
}

#download-link {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 14px;
  background-color: #f2f2f2;
  border: none;
}
